body {
    margin: 0;
    font-family: sans-serif;
    background-color: AliceBlue;
}
  #charity-header {
      display: flex;
      justify-content: center;
      opacity: .8;
      height: 5rem;
      padding-top: 1rem;
    }
  
    #charity-header img {
      height: 4rem;
    }

    .list-container {
      display: none;
      position: absolute;
      background-color: white;
      padding: 0 20px;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.267);
      z-index: 2222;
    }
    
    .logout-btn {
      z-index: 1;
    }
  
    .remove {
      position: relative;
      background: transparent;
      height: auto;
      width: auto;
      justify-self: center;
    }
    
    .container {
      padding: 1rem;
      width: 225px;
      height: 400px;
      display: block;
      opacity: .8;
      margin: auto;
    }

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .card {
      text-align: center;
      padding: 5px;
    }
  
    .charity-avatar{
      width: 324px; 
      height: 393px;
      border: 5px ridge DarkOliveGreen;
    }
  
  
    .cart-container {
      border: 5px ridge brown;
      background-color: white;
      position:absolute;
      top:70px;
      right: 25px;
      overflow: scroll;
      height: auto;
      max-height: 30em;
      display: none;
      justify-content: center;
    }
  
    #welcome{
      position:absolute;
      top:200px;
      left: 70px;
      font-size: 18px;
      font-weight: bold;
    }
  
    #cart-btn{
      position:absolute;
      top:70px;
      right: 50px;
      background-color: blanchedalmond;
    }
  
    .checkout {
      position: relative;
      background-color:lightgray;
      border: ridge black;
      height: auto;
      width: max-content;
      color: black;
      font-size: 15px;
    }
  
    #logout{
      position: relative;
      top: 70px;
      left: 50px;
      height: 50px;
      background-color: blanchedalmond;
    }
  
    .sort-menus{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }